.vscode
data/01_bacteria_amount
data/02_coordinates
data/03_matrices
data/03_pair_coefficients
data/03_run_experiments_13-06-24_500K
data/03_run_experiments_13-06-24
data/03_run_experiments_12-06-24
examples/.DS_Store
examples/.ipynb_checkpoints
gorgona.egg-info
gorgona
gorgona/__pycache__/generator.cpython-39.pyc
gorgona/__pycache__/sampler.cpython-39.pyc
gorgona/__pycache__/utils.cpython-39.pyc
gorgona.egg-info/dependency_links.txt
gorgona.egg-info/PKG-INFO
gorgona.egg-info/requires.txt
gorgona.egg-info/SOURCES.txt
gorgona.egg-info/top_level.txt
.vscode/settings.json
gorgona/.DS_Store
.DS_Store